[% meta.title = 'About' %]
<h2>About</h2>
<p>A 5-year undertaking begun in 1995, the Connecticut Butterfly Atlas Project's primary goal was to map the distribution of Connecticut's butterfly species.<br />
<br />
At one time or another over 120 butterfly species have been reported from Connecticut. Of these, 114 may still occur in the state. The Connecticut Butterfly Atlas Project documented the occurrence of 110 species from 1995 through 1999.<br />
<br />
Volunteer project participants collected data, in the form of vouchers and field forms, over one or more of 5 field seasons from 1995 through 1999. Vouchers are either specimens or photographs, and provide the information needed to produce a map of each species' distribution. The maps will be published together as a butterfly atlas, which will also include notes on the abundance, flight periods, habitats and favorite nectar sources of Connecticut's butterflies. The published atlas is scheduled to go to press late in 2004. The atlas will also include information on the historical distribution of butterflies in Connecticut by using locality information from labels on specimens in both public and private collections.<br />
<br />
The CBAP mapping system is based on the standard United States Geological Survey topographic map quadrangle series, and is similar to the system used in Massachusetts' butterfly survey and in Connecticut's <em>Atlas of Breeding Birds</em>. Each of Connecticut's 115 quadrangles is divided into 6 blocks, and the presence of butterfly species in each block is noted.</p>