[% meta.title = 'Instructions for Desktop Computers' %]
<h2>Instructions for Desktop Computers</h2>
<p>&nbsp;</p>
<h3>This site is compatible with the following browsers:</h3>
<p>&nbsp;</p>
<p><strong>Windows</strong><p>
<p>Internet Explorer 8+</p>
<p>Firefox 13+</p>
<p>Chrome 20+</p>
<p><strong>Mac</strong><p>
<p>Safari 5.1+</p>
<p>Firefox 3+</p>